<!DOCTYPE html>
<html>

<head>

<title>Student Performance Predictor</title>

<link rel="stylesheet" href="/static/style.css">

</head>

<body>

<div class="container-box">

<h2>AI Performance Predictor</h2>

<form action="/predict" method="post">

<input name="study_hours" placeholder="Study Hours">

<input name="attendance" placeholder="Attendance %">

<input name="participation" placeholder="Class Participation">

<input name="score" placeholder="Total Score">

<button type="submit">Predict Grade</button>

</form>

{% if result %}

<h2>Predicted Grade: {{ result }}</h2>

{% endif %}

<br>

<center>
<a href="/logout">Logout</a>
</center>

</div>

</body>

</html>